h1,
.text-alpha {
    @include fs-8;
    font-weight: 500;
}

// increase base font size
html {
    @include fs-5;
}

// increase code font-size
code {
    font-size: 0.85em;
}

// change H3 to be bolder and in grey
h3,
.text-gamma {
    font-weight: 600;
    color: $subheading-color;

}

// add space below H3 (subheading)
.main-content h3{
    margin-bottom: 0.8em;
}

// increase H4 font size
h4,
.text-delta {
  @include fs-3;
}

// add margin-top for paragraphs after headings
.main-content {
    h1, h2, h3, h4, h5, h6 {
        + p {
            margin-top: 1em;
        }
    }
}

// increase nav item font size
.nav-list .nav-list-item {
    @include fs-4;

    @include mq(md) {
        @include fs-4;
      }
}

// increase aux-nav item font size
.aux-nav {
    @include fs-4;

}

// increase search input font size
.search-input {
    @include fs-4;

}

// increase footer font size
.site-footer {
    @include fs-3;
}

#markdown-toc {
    @include fs-3;
}

// Talk CSS

.talk-presenter {
    font-weight: 600;
    @include fs-6;
} 

.talk-subtitle {
    margin: 0.5em 0 0.1em 0;
    text-transform: uppercase;
    font-weight: 600;
    color: $lagunita;

    a {
        color: $lagunita
    }
}

// Organizers CSS

.people-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.people-card {
    width: 300px;
    padding-bottom: 20px;
    //padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    div {
        padding: 0px 10px;
    }
}

.person-image {

    border-radius: 10px;
    width: 100%;
}

.person-high {
    font-weight: 600;
    color: $lagunita;
    margin: 0.5em 0 0.1em 0;
}

.person-card-bio {
    text-align: center;
    padding: 0 10px;
}

