$body-background-color: $white;
$sidebar-color: $grey-lt-000;
$border-color: $grey-lt-100;

$body-text-color: $grey-dk-100;
$body-heading-color: $grey-dk-300;

$nav-parent-link-color: $purple-000; // side bar nav top level link
$nav-expander-link-color: $purple-000; // side bar arrow (usually same as top level)
$nav-child-link-color: $grey-dk-100; // side bar child level link

$aux-nav-link-color: $blue-000; // aux nav link
$menu-button-color: $blue-000; // menu-button in small layouts

$link-color: $purple-000;
$btn-primary-color: $purple-100;
$base-button-color: $beige-light;

$selection-color: $white;
$selection-background: $link-color;

$code-background-color: $grey-lt-000;

$search-background-color: $white;
$search-result-preview-color: $grey-dk-000;

$table-background-color: $grey-lt-000;
$feedback-color: darken($sidebar-color, 3%);
