$body-background-color: $white;
$sidebar-color: $grey-lt-000;
$border-color: $grey-lt-100;

$body-text-color: $grey-dk-100;
$body-heading-color: $grey-dk-300;
$nav-child-link-color: $grey-dk-100;
$search-result-preview-color: $grey-dk-000;

$link-color: $purple-000;
$btn-primary-color: $purple-100;
$base-button-color: $beige-light;

$code-background-color: $grey-lt-000;
$search-background-color: $white;
$table-background-color: $grey-lt-000;
$feedback-color: darken($sidebar-color, 3%);
