$body-background-color: $grey-dk-300;
$sidebar-color: $grey-dk-300;
$border-color: $grey-dk-200;

$body-text-color: $grey-lt-300;
$body-heading-color: $grey-lt-000;
$title-color: $body-heading-color;
$nav-parent-link-color: $blue-000;
$nav-expander-link-color: $blue-000;
$nav-child-link-color: $grey-dk-000;
$aux-nav-link-color: $blue-000;
$aux-nav-hover-color: $white;
$aux-nav-hover-background: $blue-000;
$menu-button-color: $blue-000; // menu-button in small layouts
$search-result-preview-color: $grey-dk-000;
$nav-active-background: $cardinal-red-dark;
$nav-active-color: $white;
$nav-hover-background: $white;
$nav-hover-color: $cardinal-red;
$nav-active-background-child: $cardinal-red-dark;
$nav-active-color-child: $fog;
$nav-hover-background-child: $fog;
$nav-hover-color-child: $cardinal-red;

$side-footer-color: $nav-parent-link-color;
$side-footer-background-color: $white;
$side-footer-link-color: $nav-child-link-color;

$subheading-color: $lagunita;

$link-color: $blue-000;
$link-underline-color: $fog;
$link-underline-hover-color: $cardinal-red;
$btn-primary-color: $blue-200;
$base-button-color: $grey-dk-250;

$code-background-color: $grey-dk-250;
$search-background-color: $grey-dk-250;
$table-background-color: $grey-dk-250;
$feedback-color: darken($sidebar-color, 3%);

$selection-color: $white;
$selection-background: $link-color;
