$body-background-color: $white;
$sidebar-color: $grey-lt-000;
$border-color: $grey-lt-100;

$body-text-color: $grey-dk-100;
$body-heading-color: $grey-dk-300;
$title-color: $body-heading-color;

$nav-parent-link-color: $purple-000; // side bar nav top level link
$nav-expander-link-color: $purple-000; // side bar arrow (usually same as top level)
$nav-child-link-color: $grey-dk-100; // side bar child level link

$aux-nav-link-color: $purple-000; // aux nav link
$aux-nav-hover-color: $white;
$aux-nav-hover-background: $purple-000;
$menu-button-color: $purple-000; // menu-button in small layouts

$nav-active-background: $cardinal-red-dark;
$nav-active-color: $white;
$nav-hover-background: $white;
$nav-hover-color: $cardinal-red;
$nav-active-background-child: $cardinal-red-dark;
$nav-active-color-child: $fog;
$nav-hover-background-child: $fog;
$nav-hover-color-child: $cardinal-red;

$side-footer-color: $nav-parent-link-color;
$side-footer-link-color: $nav-child-link-color;

$subheading-color: $lagunita;

$link-color: $purple-000;
$link-underline-color: $fog;
$link-underline-hover-color: $cardinal-red;

$btn-primary-color: $purple-100;
$base-button-color: $beige-light;

$selection-color: $white;
$selection-background: $link-color;

$code-background-color: $grey-lt-000;

$search-background-color: $white;
$search-result-preview-color: $grey-dk-000;

$table-background-color: $grey-lt-000;
$feedback-color: darken($sidebar-color, 3%);
