<footer class="global-footer">
  <div class="footer-container d-flex mx-auto">
    <div class="footer-child text-left">
      <div class="text-grey-dk-200 fw-600 pb-2">
        Co-organized by
      </div>
      <div><a href="https://web.stanford.edu/~nanbhas/" target="_blank">Nandita Bhaskhar</a></div>
      <div><a href="https://www.linkedin.com/in/amara-tariq-475815158/" target="_blank">Amara Tariq</a></div>
      <div><a href="https://dasavisha.github.io/" target="_blank">Avisha Das</a></div>
    </div>

    <div class="footer-child text-left">
      <div class="text-grey-dk-200 fw-600 pb-2">
        Faculty Sponsors
      </div>
      <div><a href="https://www.mayo.edu/research/faculty/banerjee-imon-ph-d/bio-20555791" target="_blank">Imon Banerjee</a>, Faculty, Mayo Clinic & ASU</div>
      <div><a href="http://rubinlab.stanford.edu/people" target="_blank">Daniel Rubin</a>, Professor, Stanford University</div>
    
    </div>

    <div class="footer-child text-center-new">
      <div class="text-grey-dk-200 fw-600 pb-2">
        Contact
      </div>
      <div>Email us at</div>
      <div><a href="mailto:nanbhas@stanford.edu" target="_blank">nanbhas@stanford.edu</a></div>
      <div><a href="mailto:tariq.amara@mayo.edu" target="_blank">tariq.amara@mayo.edu</a></div>
      <div><a href="mailto:das.avisha@mayo" target="_blank">das.avisha@stanford.edu</a></div><br>
    </div>
    
    <div class="footer-child text-right-new">
      <div class="text-grey-dk-200 fw-600 pb-2">
        Related Links
      </div>
      <div><a href="http://rubinlab.stanford.edu" target="_blank" style="color: grey;">Rubin Lab</a></div>
      <div><a href="https://aimi.stanford.edu/" target="_blank" style="color: grey;">AIMI Center</a></div>
      <div><a href="https://labs.engineering.asu.edu/banerjeelab/person/imon-banerjee/" target="_blank" style="color: grey;">Banerjee Lab</a></div>   
    </div>
    
    

  </div>
</footer>
