<footer class="global-footer">
  <div class="footer-container d-flex mx-auto">
    <div class="footer-child text-left">
      <div class="text-grey-dk-200 fw-600 pb-2">
        Co-organized by
      </div>
      <div><a href="https://web.stanford.edu/~nanbhas/" target="_blank">Nandita Bhaskhar</a></div>
      <!-- <div><a href="" target="_blank">Siyi Tang</a></div> -->
      <div> PhD Candidate</div>
      <!-- <div> PhD Candidates</div> -->
      <div>Rubin Lab</div>
      <div>EE, Stanford</div>
    </div>

    <div class="footer-child text-left">
      <div class="text-grey-dk-200 fw-600 pb-2">
        Co-organized by
      </div>
      <div><a href="http://rubinlab.stanford.edu/people" target="_blank">Daniel Rubin</a></div>
      <div>Professor, Stanford Biomedical Data Science, Radiology & Medicine</div>
    </div>

    <div class="footer-child text-center-new">
      <div class="text-grey-dk-200 fw-600 pb-2">
        Contact
      </div>
      <div>Email us at</div>
      <div><a href="mailto:nanbhas@stanford.edu" target="_blank">nanbhas@stanford.edu</a></div>
      <!-- <div><a href="mailto:" target="_blank">siyitang@stanford.edu</a></div> -->
      <div><a href="mailto:dlrubin@stanford.edu" target="_blank">dlrubin@stanford.edu</a></div><br>
    </div>
    
    <div class="footer-child text-right-new">
      <div class="text-grey-dk-200 fw-600 pb-2">
        Related Links
      </div>
      <div><a href="http://rubinlab.stanford.edu" target="_blank" style="color: grey;">Rubin Lab</a></div>
      <div><a href="https://aimi.stanford.edu/" target="_blank" style="color: grey;">AIMI Center</a></div>
      <div><a href="http://med.stanford.edu/dbds.html" target="_blank" style="color: grey;">DBDS</a></div>
      <div><a href="https://www.stanford.edu/" target="_blank" style="color: grey;">Stanford University</a></div>      
    </div>
    
    

  </div>
</footer>
