<footer class="global-footer">
  <div class="footer-container d-flex mx-auto">
    <div class="footer-child mx-auto">
      Xxxxxxxxxxx <br>
      Xxxxxxxxxxx <br>
      XXXXXXXXXXX 
    </div>
    <div class="footer-child mx-auto">
      Xxxxxxxxxxx <br>
      Xxxxxxxxxxx <br>
      XXXXXXXXXXX 
    </div>
    <div class="footer-child mx-auto">
      Xxxxxxxxxxx <br>
      Xxxxxxxxxxx <br>
      XXXXXXXXXXX 
    </div>
    <div class="footer-child mx-auto">
      Xxxxxxxxxxx <br>
      Xxxxxxxxxxx <br>
      XXXXXXXXXXX 
    </div>
    

  </div>
</footer>
